*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
}
p.quote-text{
    font-family: 'Libre Caslon Display', serif;

}
.sub-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #1D1D1E;
    margin-bottom: 40px;
}
.sub-title::after{
    content:"";
    display: block;
    width: 60px;
    height: 4px;
    background: #1D1D1E;
    margin: 2px auto;

}
.btn{
    position: relative;
    width: 268px;
    height: 50px;
    border: 3px solid #EEAB3A;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #EEAB3A;
    padding: 10px 50px;
    overflow: hidden;
    transition: all 1s ease-in-out;
    z-index: 2;
}
a.btn.primary:hover{
    color: #1D1D1E;
    z-index: 3;
}
a.btn.secondary:hover{
    color: #fff;
    z-index: 3;
}
.btn::before{
    background: #fff;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: all .6s ease-in-out;
    
}
.btn.secondary::before{
    background: #1D1D1E;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: all .6s ease-in-out;
    
}
a.primary::before{
    width: 0;
    height: 100%;
}
a.primary:hover::before{
    width: 100%;

}
a.primary::before{
    width: 0;
    height: 100%;
}
a.primary:hover::before{
    width: 100%;

}
a.secondary::before{
    width: 0;
    height: 100%;
}
a.secondary:hover::before{
    width: 100%;

}



.header{
    position: fixed;
    height: 80px;
    width: 100%;
    background: #EEAB3A;
    padding-bottom: 15px;
    padding-top: 15px;
    z-index: 999;

}

.navbar{
    text-align: right;
}
.navbar ul li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;
}
.navbar ul li a{
    font-family: 'Poppins', sans-serif;
    color: #262729;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;

}

.intro {
    width: 100%;
    height: 434px;
    background: url("../img//bg-01.png");
    background-size: cover;
    text-align: center;
}
section .container h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    padding-top: 70px;
    color: #fff;

}
.container .quote p{
    width: 360px;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
    margin-top: 48px;
    margin-bottom: 30px;
}
.container .quote p.quote-text::before{
    content:"";
    display: block;
    width: 60px;
    height: 3px;
    background:#fff;
    margin:  12px auto;
}
.container .quote p.quote-text::after{
    content:"";
    display: block;
    width: 60px;
    height: 3px;
    background: #FFFFFF;
    margin: 12px auto;
}
.container .quote p.cite{
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color:#fff;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    margin-top:-12px;
    margin-bottom: 40px;

}
section .container a.btn{
    width: 268px;
    height: 50px;
    border: 3px solid #EEAB3A;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #EEAB3A;
    padding: 10px 50px;
    
}
.products{
    padding: 60px 0;
}
.product-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-list li{
    background: #eeab3a;
    text-align: center;

}
.product-list li h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #1D1D1E;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}
.product-list li h3::after{
    content:"";
    display: block;
    width: 10%;
    height: 4px;
    background: #1D1D1E;
    margin: 2px auto;
}
.product-list li p{
    padding: 10px 20px 20px 20px;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
}
.product-icon{
    background: #1D1D1E;
    padding: 20px;
    
}
.call-to-action{
    clear: both;
    text-align: center;
    padding-top: 40px;
}
.call-to-action p{
    max-width: 278px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #1D1D1E;
    margin: 0 auto;
    margin-bottom: 30px;

}


.portfolio{
    background: #1D1D1E;
    width: 100%;
    padding: 60px;
}
.portfolio .sub-title{
    color: #EEAB3A;
}
.portfolio .sub-title::after{
    background: #EEAB3A;
}
.portfolio .call-to-action p{
    color: #EEAB3A;
}
.portfolio ul li.grid-16{
    margin-top: 20px;

}
.quality{
    padding: 60px 0;
}
.quality::before{
    content: "";
    position:absolute;
    width: 625px;
    height: 150px;
    background: url("../img/line.svg") no-repeat;
    left: 168px;
    top: 197px;
    z-index: -99;
}
.quality img{
    margin: 0 auto;
}
.quality-list li{
    text-align: center;
    padding: 0 40px;
    padding-top: 40px;
}
.quality-list li h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #1D1D1E;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}
.quality-list li h3::after{
    content:"";
    display: block;
    width: 30px;
    height: 4px;
    background: #1D1D1E;
    margin: 2px auto;
}
.quality-list li p{
    padding: 10px 0;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
}
.block{
    background:url(/img/rodape-01.png);
    text-align: center;
    height: 300px;
    width: 100%;
}
.block .quote{
    max-width: 695px;
    margin: 0 auto;
}
.footer{
    width: 100%;
    background: #1D1D1E;
    color: #fff;
    padding: 40px 0;
}
.footer h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #EEAB3A;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}
.footer h3::after{
    content:"";
    display: block;
    width: 30px;
    height: 4px;
    background: #EEAB3A;
    align-items: left;
    margin-bottom: 21px;
}

.footer-histoy{
    padding-right: 40px;
}
.footer-contact{
    padding-right: 40px;
}
.footer-contact ul li{
    width: 230px;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 0 0 5px 0;
}
.footer-social ul li{
    display: inline-block;
    padding-right:20px;
}

.copy{
    width: 100%;
    background: #EEAB3A;
    padding: 20px 0;
    display: flex;
    text-align: center;
}

.intro-sobre {
    width: 100%;
    height: 350px;
    background: url("../img/bg-02.png") no-repeat center;
    background-size: cover;
    text-align: center;
}
.intro-sobre .container h1{
    margin-bottom: 10px;
}
.container .quote p.quote-text-bg-02{
    width: 530px;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #ffff;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
    margin-top: 10px;
    margin-bottom: 30px;
}

.container .quote p.quote-text-bg-02::before{
    content:"";
    display: block;
    width: 60px;
    height: 3px;
    background: #FFFFFF;
    margin: 12px auto;
}
.sobre_content p{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 1em;
    padding-right: 20px;
}
.sobre_content ul li{   
  font-size: 18px;
    line-height: 30px;

}
.sobre_content img{
    padding-top: 40px;
}
.sobre_content h2{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #1D1D1E;
    margin-bottom: 20px;
    margin-top: 40px;
}
.sobre_content h2:after{
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: #1d1d1e;
    margin: 8px 0;


}

