:root{
    --primary-color:#07070D;
    --second-color:#EEAB3A;
    --text-color:#fff;
}
.intro{
    width: 100%;
    height: 434px;
    background: url("/img/home-bg.png") no-repeat center;
    background-size: cover;
    text-align: center;
}
.intro .container .title-intro{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    padding-top: 90px;
    color: var(--text-color);

}
.container .quote {
    width: 400px;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: var(--text-color);
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
    margin-top: 10px;
    margin-bottom: 30px; 
}
.container .quote-text::before{
    content:"";
    display: block;
    width: 60px;
    height: 3px;
    background:var(--text-color);
    margin:  12px auto;
}
.container .quote-text::after{
    content:"";
    display: block;
    width: 60px;
    height: 3px;
    background: var(--text-color);
    margin: 12px auto;
}
.container .quote .cite{
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color:var(--text-color);
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    margin-top:20px;
    margin-bottom: 40px;
}
/* PRODUCT */

.products{
    padding: 60px 0;
}.products-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    padding: 20px;
}
.product-list li{
    background: var(--second-color);
    text-align: center;
    filter:drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.25));

}
.product-list li h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}
.product-list li p{
    padding: 10px 20px 20px 20px;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
}

/*PRODUCT END */
/* PORTFÓLIO */
.portfolio{
    background: var(--primary-color);
    width: 100%;
    padding: 60px;
}
.portfolio .sub-title{
    font-family: 'Roboto', sans-serif;
    color: var(--second-color);
}
.portfolio .sub-title::after{
    background: var(--second-color);
}
.portfolio .call-to-action p{
    color: var(--second-color);
}
.portfolio ul li.grid-16{
    margin-top: 20px;

}
/* PORTFÓLIO END */

/* QUALIDADES */
.quality{
    padding: 60px 0;
}
.quality::before{
    content: "";
    position:absolute;
    width: 625px;
    height: 150px;
    background: url("../img/line.svg") no-repeat;
    left: 168px;
    top: 197px;
    z-index: -99;
}
.quality img{
    margin: 0 auto;
}
.quality-list li{
    text-align: center;
    padding: 0 40px;
    padding-top: 40px;
}
.quality-list li h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}
.quality-list li h3::after{
    content:"";
    display: block;
    width: 30px;
    height: 4px;
    background: var(--primary-color);
    margin: 2px auto;
}
.quality-list li p{
    padding: 10px 0;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
/* QUALIDADES END */
